{% load static %}
{% include 'home/base.html' %}
{% include 'home/navigation.html' %}
<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Maps Route</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" async defer></script>
    <style>
        #map {
            height: 80%;
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <h1>
    {% if route_legs %}
        <h2>Travel Time and Distance</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Start Address</th>
                    <th>End Address</th>
                    <th>Distance</th>
                    <th>Duration</th>
                    <th>Total time_travel</th>
                    <th>Time to arrive</th>
                </tr>
            </thead>
            <tbody>
                {% for leg in route_legs %}
                    <tr>
                        <td>{{ leg.start_address }}</td>
                        <td>{{ leg.end_address }}</td>
                        <td>{{ leg.distance }}</td>
                        <td>{{ leg.duration }}</td>
                        <td>{{ leg.time_travel }}</td>
                        <td>{{ leg.time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif error %}
        <p>Error: {{ error }}</p>
    {% endif %}


    </h1>
    <div id="map"></div>
    <h1>

    <script>
        function initMap() {
            var directionsService = new google.maps.DirectionsService();
            var directionsRenderer = new google.maps.DirectionsRenderer();

            // Initialize the map at a default location (centered at the origin)
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 7,
                center: { lat: 40.7128, lng: -74.0060 }  //
            });
            directionsRenderer.setMap(map);

            // Define the origin, destination, and waypoints
            var request = {
                origin: "{{ start_point }}",
                destination: "{{ end_point }}",

                waypoints: [
                    {% for waypoint in waypoints%}
                    {
                        location: "{{ waypoint }}",
                        stopover: true
                    },
                    {% endfor %}
                ],
                optimizeWaypoints: {{status}},
                travelMode: 'DRIVING'
            };

            // Fetch and display the route
            directionsService.route(request, function(result, status) {
                if (status == 'OK') {
                    directionsRenderer.setDirections(result);
                } else {
                    alert("Directions request failed due to " + status);
                }
            });
        }
    </script>
    </h1>


</body>
</html>
